---
permalink: /projects/codeclash/
layout: default
---

{% for project in site.projects %}
  {% if project.name == 'Code Clash' %}
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
  {% endif %}
{% endfor %}

<h2>People</h2>
{% for person in site.people %}
    {% if person.projects contains "Code Clash" %}
        <div class="people-card">
            <img src="{{ person.photo }}" />
            <label>{{ person.name }}</label>
        </div>
    {% endif %}
{% endfor %}

<hr/>

<h2>Relevant Citations</h2>
<p>Zheng, Jun and Harrington, Brian. <a href="https://cssplice.github.io/ICER19/proc/SPLICE_2019_ICER_paper_8.pdf">"Identity Atheneum: Combining User Management, Analytics and Gamification in a Multi Tool Hub." </a>(2019).<a href="https://cssplice.github.io/ICER19/proc/SPLICE_2019_ICER_paper_8.pdf">[pdf]</a></p>
<p>Zheng, Jun, Kang, Sohee and Harrington, Brian. <a href="https://doi.org/10.1145/3314994.3325087">"Immediate Feedback Collaborative Code Tracing." </a>Proceedings of the Western Canadian Conference on Computing Education (2019).<a href="https://dl.acm.org/doi/pdf/10.1145/3314994.3325087?download=true">[pdf]</a><a href="10.1145/3314994.3325087">[doi]</a></p>
