---
---


<h1>CMS Undergraduate Research Group</h1>

<hr/>

<p>
Interested in getting involved in research? Want to sharpen your academic skills? Just wondering what it is your professors do all day? Then come join the UTSC Computer and Mathematical Sciences Undergraduate Research Group.
</p>
<p>
The CMS Undergraduate Research Group was founded to give students in our department an opportunity to explore and participate in research. To date, we have published 7 papers with 12 undergraduate co-authors, established an annual symposium, and had students present at local, national and international research conferences. 
</p>
<p>
Sign up for our welcome sessions/reading group/e-mail list: <a href="https://forms.gle/WPS8mmCPRJXaEtdL9">HERE</a>
</p>
<p>

<h2>News &amp; Announcements</h2>

{% include post-list.html %}
{% include footer.html %}
