---
permalink: /people/
layout: default
---

<h1>People</h1>

<hr/>

<h2>Faculty</h2>

{% for person in site.people %}
    {% if person.category == 'faculty' %}
        <div class="people-card">
            <img src="{{ person.photo }}" />
            <label>{{ person.name }}</label>
        </div>
    {% endif %}
{% endfor %}

<hr/>

<h2>Students</h2>

{% for person in site.people %}
    {% if person.category == 'student' %}
	{% if person.citations %}
 	<div style="display: flex">
		<div class="people-card" style="width: 320px;">
		    <img src="{{ site.baseurl }}{{ person.photo }}" />
		    <label>{{ person.name }}</label>
		</div>
		<div>
			{{ person.content }}
		</div>
	</div>
	{% else %}
	<div class="people-card" style="width: 120px;">
	    <img src="{{ person.photo }}" />
	    <label>{{ person.name }}</label>
	</div>
	{% endif %}

    {% endif %}
{% endfor %}

<hr/>

<h2>Alumni</h2>

{% for person in site.people %}
    {% if person.category == 'alumni' %}
        <div class="people-card">
            <img src="{{ person.photo }}" />
            <label>{{ person.name }}</label>
        </div>
    {% endif %}
{% endfor %}
